{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>スレッド一覧</title>
    <link rel="stylesheet" href="{% static 'default.css' %}">
</head>
<body>
    
    <button class="openModalBtn">新しいスレッドを作成</button>
    <h2>スレッド一覧</h2>
    <ul>
        {% for item in thread_data %}
            <a href="{% url 'thread_detail' item.thread.pk %}">
                <li>
                    {{ item.thread.title }}<br />
                    <p class="metathread">書き込み数: {{ item.post_count }}
                    勢い: {{item.momentum}}
                    ID: {{ item.user_id }}</p>
                </li>
            </a>
        {% endfor %}
    </ul>
    <hr>
    掲示板の説明
    <div id="newThreadModal" class="modal">
        <div class="modal-content">
            <span class="closeBtn">&times;</span>
            <h2>新しいスレッドを作成</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">作成</button>
            </form>
        </div>
    </div>
    <script src="{% static 'modal.js' %}"></script>
</body>
</html>